* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.header {
    background-color: rgb(31, 41, 55);
    color: #F9FAF8;
    padding: 10px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-header,
.bottom-header {
    display: flex;
    margin: 0 0 100px;
}
.top-header {
    justify-content: space-between;
    padding: 8px;
    width: 900px;
    height: auto;
}
.left,
.right {
    display: flex;
    align-items: center;
    gap: 16px;
}
.logo {
    color: #F9FAF8;
    font-size: 24px;
}
ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style-type: none;
  }
li {
    text-decoration: none;
}
a {
    color: #e5e7eb;
}
.top-header .right .links {
    font-size: 18px;
}
.bottom-header {
    gap: 100px;
    width: 900px;
    justify-content: space-between;
}
.bottom-header .left {
    flex-wrap: wrap;
    height: auto;
    width: 300px;
}
.bottom-header .right {
    background: gray;
    flex: 1;
    justify-content: center;
} 
.bottom-header h1 {
    font-size: 48px;
    font-weight: 900;
}
.bottom-header p {
    font-size: 18px;
    color: #e5e7eb;
}
.bottom-header .left button {
    background-color: #3882F6;
    border-radius: 10px;
    color: #F9FAF8;
    height: 35px;
    font-size: 16px;
    font-weight: 900;
    width: 100px;
    border-color: #3882F6;
}
.information-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 100px;
}
.title {
    margin: 40px 0px;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
.card-container {
    display: flex;
    justify-content: center;
    gap: 52px;
}
.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 150px;
}
.card img {
    min-width: 150px;
    min-height: 150px;
    background-color: white;
    border: 10px;
    border-radius: 20px;
    border: 5px solid #3882f6;
}
.card .text {
    color: #1F2937;
    font-size: 18px;
}
.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    align-items: center;
}
.quote-container {
    margin: 100px 0;
}
.quote {
    font-size: 36px;
    color: #1f2937;
    max-width: 750px;
    font-style: italic;
}
.author {
    text-align: end;
    font-size: 25px;
    font-weight: 900;
}
.sign-up-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 15px;
    padding: 100px;
}
.sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    border-radius: 10px;
    min-width: 1000px;
    height: auto;
    gap: 80px;
}
.sign-up-container .left {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: start;
    color: #F9FAF8;
    font-size: 25px;
    padding: 50px;
}
.left .bold {
    font-weight: 900;
    font-size: 27px;
}
.left p {
    font-size: 20px;
}
.sign-up-container button {
    padding: 10px 40px;
    border-radius: 10px;
    border-color: #F9FAF8;
    background-color: #3882f6;
    font-size: 15px;
    color: #F9FAF8;
    font-weight: 900;
    border-style: solid;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    background: rgb(31, 41, 55);
    color: #F9FAF8;
    padding: 25 0;
  }