* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.header {
    background-color: #1F2937;
    color:aliceblue;
    padding: 10px 200px;
}
.top-header,
.bottom-header {
    display: flex;
}
.top-header {
    justify-content: space-between;
    padding: 8px;
    margin: 0 0 100px;
}
.left,
.right {
    display: flex;
    align-items: center;
    gap: 16px;
}
.logo {
    color: #F9FAF8;
    font-size: 24px;
}
ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style-type: none;
  }
li {
    text-decoration: none;
}
a {
    color: #e5e7eb;
}
.top-header .right .links {
    font-size: 18px;
}
.bottom-header {
    gap: 100px;
}
.bottom-header .left {
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    width: 200px;
}
.bottom-header .right {
    height: 210px;
    width: auto;
    background: gray;
} 